* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-family: 'Monoton', cursive;
}

.url-box {
  font-family: 'Wallpoet', cursive;
}

.header__title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.json, .url-box {
  width: 100%;
  max-width: 90rem;
}

.url-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.url-box__wrapper {
  display: flex;
}

.url-box__text-field {
  padding: 10px;
  flex: 1;
}

.json {
  white-space: pre;
  max-height: 50rem;
  height: 70vh;
  border: 1px solid black;
  margin-top: 10px;
}

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.spinner__circle {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.spinner__path {
  stroke: #93bfec;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* Invert CSS */

/* .inversed {
  -webkit-filter: invert(100%);
  filter: invert(100%);
} */

/* #but_1 {
  padding: .05px .005px;
  text-align: center;
} */